$font_sans: Helvetica, Verdana, sans-serif;
$font_serif: Georgia, serif;

/* light theme */

$l_bg0: #fefefe;
$l_bg1: #eeeeee;
$l_fg0: #111111;
$l_fg1: #333333;
$l_link_normal: #3f6e90;
$l_link_hover: #63a9cc;
$l_link_visited: #9C6992;
$l_brand: #b69410;

/* dark theme */

$d_bg0: #000000;
$d_bg1: #0a0a0f;
$d_fg0: #e5e9f0;
$d_fg1: #e5e9f0;
$d_link_normal: #3f6e90;
$d_link_hover: #63a9cc;
$d_link_visited: #9C6992;
